# Maven ou Gradle
target/
build/

# Logs
*.log
*.log.*

# Arquivos temporários
*.tmp
*.swp
*.swo

# Diretórios de cache e compilação
**/out/
**/.gradle/
**/.idea/
**/.mvn/
**/.settings/

# Arquivos IDE (IntelliJ IDEA)
.idea/
*.iml
*.iws
.idea/*

# Arquivos IDE (VSCode)
.vscode/

# Arquivos IDE (Eclipse)
.project
.classpath
.settings/
bin/

# Dependências locais
lib/

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Arquivos específicos do Maven
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties
